.card {
    margin-bottom: 15px;
}

.fav-movie {
    margin-bottom: 15px;
}

.fav-movie figure {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: auto;
    width: 100%;
}

.fav-movie figure img {
    height: 400px;
    margin: auto;
    display: block;
}

.fav-movie figure figcaption {
    text-align: center;
}

.fav-movie button.btn {
    display: block;
    margin: auto;
}